.container-listen-wrapper {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding-top: 60px; /* Khoảng cách từ trên cùng để không bị che bởi header */
 /* Chiều cao của viewport để container nằm giữa trang */
}
.container-listen {
    position: relative;
    width: 1000px; 
    overflow-y: auto; /* Cho phép cuộn */
    background-color: white; /* Đặt màu nền */
    color: black; /* Đặt màu chữ */
    padding: 10px; /* Khoảng cách bên trong */
    margin-bottom: 50px; /* Khoảng trống để tránh bị footer che */
  }
  
  .container-listen::after {
    content: ""; /* Tạo một khoảng trắng ở cuối */
    display: block;
    height: 100px; /* Chiều cao của khoảng trống thêm */
  }
  /* Đảm bảo phần tử hiển thị số câu hỏi đã chọn nằm cố định trên màn hình */
.question-summary {
    position: fixed; /* Đặt vị trí cố định trên màn hình */
    top: 10px; /* Khoảng cách từ trên cùng của màn hình */
    right: 20px; /* Khoảng cách từ bên phải của màn hình */
    background-color: rgba(255, 255, 255, 0.9); /* Nền trắng với độ trong suốt nhẹ */
    color: #333; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách bên trong */
    border-radius: 5px; /* Góc bo tròn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ để tạo hiệu ứng nổi bật */
    font-size: 16px; /* Kích thước chữ */
    z-index: 1000; /* Đảm bảo nó nằm trên các phần tử khác */
  }
  