.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ccc; /* Màu nền tối cho footer */
  border-top: 1px solid #ddd;
  padding: 0.5rem 0; /* Giảm padding để layout gọn hơn */
  z-index: 500;
  display: fixed;
}

.footer {
  display: flex;
  justify-content: center;
  max-width: 100%; /* Chiều rộng tối đa */
  margin: 0 auto;
}

.skills-container {
  display: flex;
  gap: 1px; /* Khoảng cách nhỏ giữa các skill */
  align-items: center;
  padding: 0.5px; /* Padding để tạo khoảng cách trực quan */
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a; /* Màu nền xám đậm hơn */
  border-radius: 0px; /* Góc bo tròn nhẹ cho section */
  padding: 5px 5px; /* Padding gọn hơn */
  min-width: 100px; /* Chiều rộng nhỏ hơn cho skill section */
  margin: 0 3px; /* Khoảng cách nhỏ giữa các section */
}

.phase-header {
  margin: 5px 0; /* Khoảng cách trên và dưới đồng nhất */
  width: 100%;
  text-align: center;
}

.phase-title {
  font-size: 14px; /* Kích thước font nhỏ hơn */
  margin: 0;
  color: #fff;
  font-weight: bold; /* Font đậm để nhấn mạnh */
}

.button-row {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.toggle-button {
  flex: 1;
  padding: 8px; /* Padding gọn hơn */
  font-size: 12px; /* Kích thước font nhỏ hơn để gọn gàng */
  background-color: #ccc; /* Màu đỏ tương phản hơn */
  color: black;
  border: none;
  cursor: pointer;
  margin: 0;
  transition: background-color 0.2s; /* Hiệu ứng chuyển màu mượt mà */
}

.toggle-button.active {
  background-color: #d9534f; /* Màu khác khi kích hoạt */
}

.disabled-button {
  background-color: #ccc; /* Màu xám nhạt cho trạng thái vô hiệu hóa */
  cursor: not-allowed;
  pointer-events: none;
}

.disabled {
  color: #ccc; /* Màu chữ xám nhạt cho trạng thái vô hiệu hóa */
}

.save-button {
  background-color: #428bca; /* Màu xanh dương cho nút Lưu */
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0 5px; /* Khoảng cách nhỏ để tách nút */
  cursor: pointer;
}

.continue-button {
  background-color: #5cb85c; /* Màu xanh lá cho nút Tiếp tục */
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}
