.btn {
  --background-color: var(--error-color);
  background-color: var(--background-color); 
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  padding: 0.8em 1.7em;
  width: max-content;
  height: max-content;
  cursor: pointer;
  font-family: var(--primary-font);
}

.btn:hover {
  filter: brightness(85%);
}
