.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  top: -60px;
}
.profile-checking {
  transform: scale(1.1);
  position: relative;
  left: 100px;
}
.avatar-container {
  position: relative;
  width: 110px;
  height: 110px;
  text-align: center;
  margin-bottom: 20px;
  left: -250px;
  top: 100px;
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10;
}

.avatar-button {
  background-color: #cc3123;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  left: -253.5px;
  bottom: -90px;
}

.avatar-button:hover {
  background-color: #240506; /* Darker red on hover */
}

.info {
  position: relative;
  top: -60px;
  right: 60px;
  text-align: left;
  width: 100%;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.boldFirstPart {
  font-weight: bold;
  margin-right: 10px;
}

.SecondboldFirstPart {
  font-weight: bold;
}

.info p {
  margin: 10px;
}

.exam-info {
  position: relative;
  left: -500px;
  top: -13px;
  transform: scale(1.25);
  background-color: #0078d7;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 20px;
}

.step-one {
  position: relative;
  left: -75px;
  margin-bottom: 10px;
}

.exam-info p {
  margin: 12px 0;
  font-size: 18px;
}

.logout-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -60px;
  right: -400px;
  background-color: #0078d7;
  font-size: 17px;
  color: white;
  border-style: solid;
  border-color: #000000;
  border-width: 0.3px;
  border-radius: 120px;
  padding: 10px 35px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #005bb5;
}

.receive-exam-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -130px;
  right: -246px;
  background-color: #75b8fc;
  color: white;
  padding: 10px 42.5px;
  border: none;
  border-radius: 120px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}

.receive-exam-button:hover {
  background-color: #6197ce;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.note {
  color: #fff;
  width: 300px;
  margin-bottom: 20px;
  position: absolute;
  word-wrap: break-word;
  overflow-wrap: break-word;
  left: 600px;
  bottom: 411px;
  transform: scale(1.25);
}

.note p {
  margin: 5px 0;
  margin-top: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  position: relative;
  left: 70px;
  width: 280px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
