.text-question-container {
    font-family: Arial, (--primary-font);
    padding: 10px; /* Khoảng cách bên trong giữa nội dung và viền */
    margin: 20px 0; /* Khoảng cách phía trên và dưới để tạo không gian giữa các câu hỏi */
    background-color: transparent; /* Nền trong suốt */
    color: #000; /* Màu chữ đen */
  }
  
  .text-question-container h1, 
  .text-question-container h2,
  .text-question-container h3 {
    margin-bottom: 1em;
  }

  .text-question-container p {
    margin-bottom: 1em;
  }
  
  .text-question-container strong {
  font-weight: 800;
  }
