.save-bottom {
    position: fixed;
    bottom: 20px;  /* Khoảng cách từ đáy màn hình */
    right: 20px;   /* Khoảng cách từ cạnh phải màn hình */
    z-index: 760;  /* Đảm bảo nút luôn nằm trên các phần tử khác */
    background-color: azure;
    transform: scale(1.1);
}

