.container-reading-wrapper {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    height: 100vh; 
    width: 100vw; 
    background-color: #f9f9f9; 
    overflow: hidden;
}

.page-large {
    display: flex;
    width: 100%;
    height: 100%;
}

.reading-box, .question-box {
    height: 100%;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box; 
}


.resizer {
    width: 5px; 
    background-color: #888; 
    cursor: col-resize; 
    height: 100%;
    z-index: 1;
}

.reading-box {
    background-color: #fff; 
    border-right: 2px solid #ddd; 
}

.question-box {
    background-color: #f0f0f0; 
    color: black;
}
