@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Light.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Regular.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Medium.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-weight: 800;
  font-display: swap;
}
:root {
	--primary-font: "Montserrat", Arial
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*   } */
/* } */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	font-size: 15px;
  font-family: var(--primary-font);
  font-weight: 600;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
