/* page.module.css */
.main
{
  background-color: #007bff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #007bff;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 0.6em;
  font-weight: 800;
  font-size: 50px;
}
