.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #007bff;
}
.logo {
  display: flex;
  align-items: center;
}
.title
{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-weight: 800;
  font-size: 50px;
}
.login-form {
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 24px;
  color: #007bff;
}

.form-groups {
  margin-bottom: 16px;
  width: 500px;
  position: relative;
  left: -70px;
}

.form-group {
  color: #000000;
  border-radius: 6px;
  border: 1px solid #ccc;
	width: 100%;
	display: flex;
	background: white;
	flex-direction: column;
	align-items: flex-start;
  margin-bottom: 20px;
	padding: 0.5em 1em;
}

.form-group label {
	font-family: var(--primary-font);
	font-size: 0.7rem;
  font-weight: 500;
}
.button-container {
  margin-top: 24px;
}
.form-group input {
  font-size: 1.2em;
  background-color: #fff;
	width: 100%;
	border: none;
	outline: none;
  color: #000000;
}

.button-container button {
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    border: none;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-container button:disabled {
  background: #999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-container button:hover:not(:disabled) {
  background: #218838;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.error {
  color: #ff4b5c;
  margin-bottom: 16px;
  visibility: hidden;
  height: 0;
  transition: visibility 0s, height 0.3s ease-in-out;
  position: relative;
}

.error.visible {
  visibility: visible;
  height: 20px;
}
