/* Container styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  height: 100vh;
  background: #007bff;
	width: min(400px, 80%);
}
/* Form styles */
.login-form {
  /* background: #fff; */
  /* border-radius: 8px; */
  /* padding: 40px; */
  text-align: center;
  width: 100%;
  /* max-width: 400px; */
}

/* .form-groups */
/* { */
/*   position: relative; */
/*   top: -60px; */
/* } */

.title {
  text-align: center; 
	color: white;
	margin-bottom: 1em;
  /* position: relative; */
  /* top: -90px; */
  font-size: 50px;
  /* font-family: 'Times New Roman', Times, serif; */
	font-family: var(--primary-font);
	font-weight: 800;
}

.logo {
  display: flex;
  justify-content: center;
  /* position: relative; */
  /* top: -130px; */
	margin-bottom: 2em;
}

.login-form h2 {
  margin-bottom: 24px;
  color: #fff;
}

/* Form group */
.form-group {
  border-radius: 6px;
  border: 1px solid #ccc;
	width: 100%;
	display: flex;
	background: white;
	flex-direction: column;
	align-items: start;
  margin-bottom: 20px;
	padding: 0.5em 1em;
}

.form-group label {
	font-family: var(--primary-font);
	font-size: 0.7rem;
}

.form-group input {
 /*  display: flex; */
 /*  align-content: center; */
 /*  background-color: #fff; */
 /*  width: 150%; */
 /*  padding: 20px; */
 /*  border-radius: 4px; */
 /*  border: 1px solid #ccc; */
 /*  margin-top: 8px; */
  font-size: 1.2em;
 /*  color: black; */
 /*  position: relative; */
 /*  right: 75px; */
	/* font-family: var(--primary-font); */
	width: 100%;
	border: none;
	outline: none;
}

/* Button styles */
/* .button-container { */
/*   margin-top: 10px; */
/*   place-items: center; */
/*   position: relative; */
/*   left: 60px; */
/* } */

.button-container button {
  width: 50%;
  padding: 0.7em 1em;
  border-radius: 4px;
  border: none;
  background: #3DB107;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
	font-family: var(--primary-font);
	font-weight: 600;
}

.button-container button:disabled {
  background: #999;
}

.button-container button:hover:not(:disabled) {
  background: #218838;
}

/* Error message */
.error {
  position: relative;
  left: -70px;
  margin-top: 8px;
  color: #ff4b5c;
  margin-bottom: 8px;
  visibility: hidden;
  height: 0;
  transition: visibility 0s, height 0.3s ease-in-out;
  height: 20px;
}

.error.visible {
  visibility: visible;
  height: 20px;
}
