.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #007bff;
}
.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
}
.title
{
  display: flex;
  align-items: center;
  position: absolute;
  top: 210px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.login-form {
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 24px;
  color: #007bff;
}


.form-group {
  margin-bottom: 16px;
}

.form-group input {
  position: relative;
  left: -140px;
  top: -20px;
  background-color: #fff;
  color: #000;
  width: 600px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 8px;
  font-size: 16px;
}

/* Error message */
.error {
  color: #ff4b5c;
  margin-bottom: 16px;
  visibility: hidden;
  height: 0;
  transition: visibility 0s, height 0.3s ease-in-out;
  position: relative;
}

.error.visible {
  visibility: visible;
  height: 20px;
}

/* Button styles */
.button-container {
  margin-top: 24px;
}

.button-container button {
  width: 60%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 

}

.button-container button:disabled {
  background: #999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-container button:hover:not(:disabled) {
  background: #218838;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
