.container-Writing-Wrapper {
    padding-top: 60px; /* Khoảng cách từ trên cùng để không bị che bởi header */
    min-height: 100vh; /* Đảm bảo container chiếm ít nhất chiều cao của viewport */
    
}

.container-Writing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */

}

.textarea {
    width: 100%; /* Chiều rộng của textarea bằng 100% container */
    padding: 10px; /* Khoảng cách bên trong */
    font-size: 16px; /* Kích thước chữ */
    color: black;
    border: 1px solid #ddd; /* Viền nhẹ cho textarea */
    background-color: white;
    border-radius: 4px; /* Góc bo tròn */
    box-sizing: border-box; /* Bao gồm padding và border trong kích thước tổng cộng */
    resize: vertical; /* Cho phép thay đổi kích thước theo chiều dọc */
    margin-top: 10px; /* Khoảng cách trên của textarea */
    outline: none; /* Xóa đường viền khi focus */
    margin-bottom: 20px;
}

.textarea:focus {
    border-color: #007bff; /* Màu viền khi focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng bóng khi focus */
}
