.audio-testing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}

.audio-testing p {
  color: #fff;
  width: 300px;
  margin: 5px 0;
  margin-bottom: 0px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
}

.audio-testing p::before {
  content: "-";
  display: block;
  margin-right: 5px;
}

.mic-check {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.mic-check-start button {
  background-color: #0096ff;
  color: #fff;
  border: none;
  padding: 10px 36px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.mic-check-end button {
  background-color: #0096ff;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.mic-check-start button:hover {
  background-color: #007acc;
}

.mic-check-end button:hover {
  background-color: #007acc;
}

.audio-check-end button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.blinking {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0% {
    background-color: red;
    opacity: 1;
  }
  50% {
    background-color: red;
    opacity: 0.5;
  }
  100% {
    background-color: red;
    opacity: 1;
  }
}
