.audio-testing {
  /* width: 350px; */
  /* transform: scale(1.25); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  /* border: 1px solid black; */
}
.step-two {
  /* position: fixed; */
  /* left: -50px; */
}
.audio-testing p {
  color: #fff;
  width: 300px;
  margin: 5px 0;
  margin-bottom: 0px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
}

.audio-testing p::before {
  content: "-";
  display: block;
  margin-right: 5px;
}

.p1 {
  /* position: fixed; */
  /* top: 50px; */
}

.p2 {
  /* position: fixed; */
  /* top: 170px; */
}

.p3 {
  /* position: fixed; */
  /* top: 200px; */
}

.p4 {
  /* position: fixed; */
  /* top: 380px; */
}
.audio-testing audio {
  /* width: 90%; */
  /* margin: 10px 0; */
  /* top: 100px; */
  /* position: fixed; */
}

.mic-check {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 10px; */
  /* position: relative; */
  /* top: 340px; */
}

.mic-check-start button {
  background-color: #0096ff;
  color: #fff;
  border: none;
  padding: 10px 36px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.audio-check {
  /* position: fixed; */
}
.mic-check-end button {
  background-color: #0096ff;
  /* position: fixed; */
  /* left: 190px; */
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.mic-check-start button:hover {
  background-color: #007acc;
}

.mic-check-end button:hover {
  background-color: #007acc;
}

.audio-check-end button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.audio-check audio {
  /* width: 90%; */
  /* position: fixed; */
  /* top: 250px; */
}

.blinking {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0% {
    background-color: red;
    opacity: 1;
  }
  50% {
    background-color: red;
    opacity: 0.5;
  }
  100% {
    background-color: red;
    opacity: 1;
  }
}
